*{
    margin: 0px;
    padding: 0px;
}

body {
    width: 800px;
    margin: 0 auto;
}

.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}
.header-section img{
    border-radius: 50px;
}

.header-box {
    align-self: center;
    
}

img {
    width: 100%;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
    column-gap: 10px;
}
.feature-section{
    margin-top: 40px;
    
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.testimaial-box{
    grid-column: 2/4;
    align-self: center;
    margin-left:50px;
}
.chaires{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;margin-top: 40px;
    column-gap: 60px;
}
.link{ 
     display: flex; 
     justify-content: space-between; 
}
li{
 list-style: none;
 margin-bottom: 20px;
}
.chaires3{
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.ancer{
    text-decoration: none;
    background-color: rgb(222, 142, 86);
    padding: 30px;
    display: block; 
    width: 120px;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid;
    text-transform: uppercase;
    color: white;
}
.ancer:hover{
    background-color:  rgb(102, 50, 14);
    color: white;
}
.testimaial-section{
    background-color: rgb(222, 142, 86);
    color: white;
    font-size: 15px;
    border-radius: 50px;
    border-top-right-radius: 0;
}
.testimaial-section img{
     border-radius: 50px;
     border-top-right-radius: 0;
     border-bottom-left-radius:0;
}
.chairss{
    text-decoration: none;
    background-color: rgb(222, 142, 86);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
}
.text{
    margin-left: 30px;
    margin-top: 10px;
}
.box{
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    }
.icon{
    width: 20px;
    height: 20px;
}
.box img{
    border-radius: 20px;
}



